/**
 * style.css
 */
html, body {
	width: 100%; margin: 0; padding:0;
}
div#mHeaderTitle {
	padding: 10px 6px; background-color: rgba(10,109,221,.8); color: #fff; font-family: 'Notable', sans-serif;
	font-size: 32px; font-weight: bold; box-shadow: 2px 3px 4px #696969;
}
div#mContent > h2 {
	margin: 18px 6px; font-family: 'Montserrat', sans-serif; font-size: 30px;
}
div#mSection {
	margin-top: 10px; padding: 1px 6px 10px 6px; font-family: 'Roboto';
}
div#mSection:nth-child(2n) {
	background-color: rgba(10,109,221,.2);
}
div#mSubsection {
}
div.mBilder {
	background-image: url('../media/TM1_Uebung1_Aufg1.2.png');
	background-repeat: no-repeat;
	background-size: cover;
}