/**
 * Elektronenkonfiguration.css
 *
 */
html, body {
	width: 100%; margin: 0; padding: 0; font-family: 'Roboto', sans-serif;
}
div#mDivElektronenkonfigurationTitel {
	padding: 10px 6px; background-color: rgba(255, 0, 0, 0.8); color: #fff; font-family: 'Notable', sans-serif; font-size: 32px; font-weight: bold;
}
div#mDivElektronenkonfiguration > p {
	padding: 4px 6px; font-family: 'Abel', sans-serif;
}
div#mDivElektronenkonfigurationLabel  {
	padding: 16px 6px; background-color: hsla(0, 100%, 90%, 0.3);
}
input#mButtonRun, input#mButtonClear {
	width: 78px; font-size: 14px; padding: 6px;
}
div#mDivElektronenkonfigurationAusgabe {
	padding: 6px; color: red; font-weight: bold;
}